# Ignore Python virtual environments
backend/venv/
node_modules/
dist/
.DS_Store
*.local
*.log
.env
.env.*
!.env.example
coverage/
.nyc_output/
*.egg-info/
__pycache__/
*.pyc
.pytest_cache/
build/
*.nn3d.bak
files_to_commit